.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.background{
  background: linear-gradient(to bottom,#b07bff, #7298fd, #b07bff);
  height: 100%;
}
.gradient-background {
  background: linear-gradient(to right bottom, #7298fd, #b07bff);
}



